flows (4).json
[
    {
        "id": "0ab8a71788ddfb90",
        "type": "tab",
        "label": "โปรเจคสวนทุเรียน",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "46ba97ab13644d79",
        "type": "debug",
        "z": "0ab8a71788ddfb90",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "3f40329bd8ec632b",
        "type": "mqtt in",
        "z": "0ab8a71788ddfb90",
        "name": "",
        "topic": "durian_farm1/node_sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b1b1bbbbbbb11111",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "46ba97ab13644d79",
                "3b4e6bbba67b5e62",
                "3d5031632496a323"
            ]
        ]
    },
    {
        "id": "3b4e6bbba67b5e62",
        "type": "function",
        "z": "0ab8a71788ddfb90",
        "name": "send to influxdb",
        "func": "/**\n * Node-RED Function for influxdb batch (InfluxDB 2.0)\n * - Input: msg.payload from MQTT (string JSON or object)\n * - Output: msg.payload = [ {measurement,tags,fields,timestamp}, ... ]\n *\n * Added:\n *  - vpd_kpa (kPa)  [accurate]\n *  - solar_wm2_est (W/m^2) [estimated from lux]\n *  - solar_mj_m2_h_est (MJ/m^2/h) [estimated]\n *  - eto_mm_day_est (mm/day) [rough estimate using FAO-56 structure + estimated radiation]\n *\n * Notes:\n *  - wind_dir_th stays as FIELD (not tag) to avoid high cardinality.\n *  - ETo here is an estimate; for accurate FAO-56 need better radiation/pressure inputs.\n */\n\n// ---------- 1) Parse payload ----------\nlet p = msg.payload;\n\nif (typeof p === \"string\") {\n    try { p = JSON.parse(p); }\n    catch (e) {\n        node.warn(\"Invalid JSON payload (parse failed)\");\n        return null;\n    }\n}\nif (!p || (!p.env && !p.npk)) return null;\n\n// ---------- 2) Parse time \"DD/MM/YYYY HH:MM:SS\" -> epoch ms ----------\nfunction parse_ddmmyyyy_hhmmss(s) {\n    if (typeof s !== \"string\") return null;\n    const m = s.match(/^(\\d{2})\\/(\\d{2})\\/(\\d{4})(?:\\s+(\\d{2}):(\\d{2}):(\\d{2}))?$/);\n    if (!m) return null;\n\n    const dd = Number(m[1]), mm = Number(m[2]), yyyy = Number(m[3]);\n    const HH = m[4] !== undefined ? Number(m[4]) : 0;\n    const MM = m[5] !== undefined ? Number(m[5]) : 0;\n    const SS = m[6] !== undefined ? Number(m[6]) : 0;\n\n    const d = new Date(yyyy, mm - 1, dd, HH, MM, SS);\n    return isNaN(d.getTime()) ? null : d.getTime();\n}\nconst ts_ms = parse_ddmmyyyy_hhmmss(p.time) || Date.now();\n\n// ---------- 3) Base tags (constant only) ----------\nconst base_tags = {\n    location: \"farm1\",\n    node: p.node || \"unknown_node\",\n    zone: p.zone || \"unknown_zone\"\n};\n\n// ---------- 4) Helpers ----------\nfunction pick_num_fields(obj, mapping) {\n    const out = {};\n    for (const [out_key, in_key] of Object.entries(mapping)) {\n        const v = obj?.[in_key];\n        if (typeof v === \"number\" && isFinite(v)) out[out_key] = v;\n    }\n    return out;\n}\nfunction pick_int_fields(obj, mapping) {\n    const out = {};\n    for (const [out_key, in_key] of Object.entries(mapping)) {\n        const v = obj?.[in_key];\n        if (Number.isInteger(v)) out[out_key] = v;\n        else if (typeof v === \"number\" && isFinite(v)) out[out_key] = Math.round(v);\n    }\n    return out;\n}\n\n// ---------- 5) Calculations ----------\nfunction calc_vpd_kpa(air_temp_c, air_rh_pct) {\n    // es = 0.6108 * exp(17.27*T/(T+237.3))\n    const es = 0.6108 * Math.exp((17.27 * air_temp_c) / (air_temp_c + 237.3));\n    const ea = es * (air_rh_pct / 100.0);\n    const vpd = es - ea;\n    return { es_kpa: es, ea_kpa: ea, vpd_kpa: vpd };\n}\n\nfunction calc_solar_from_lux(lux) {\n    // Rough conversion (daylight): W/m^2 ≈ lux / 120\n    // 120 lm/W is an assumption; adjust per your sensor/environment if needed.\n    const efficacy_lm_per_w = 120.0;\n    const solar_wm2 = lux / efficacy_lm_per_w;\n    const solar_mj_m2_h = solar_wm2 * 3600.0 / 1e6; // MJ/m^2 per hour\n    return { solar_wm2_est: solar_wm2, solar_mj_m2_h_est: solar_mj_m2_h };\n}\n\nfunction calc_eto_mm_day_est(air_temp_c, vpd_kpa, wind_ms, solar_mj_m2_h_est) {\n    // FAO-56 PM structure (estimated inputs)\n    // Rn_h ≈ (1 - albedo) * Rs_h ; ignore longwave\n    // Then compute ETo_h (mm/h) and scale to mm/day (rough): eto_mm_day_est ≈ eto_h * 24\n\n    const albedo = 0.23;\n    const Rn_h = (1.0 - albedo) * solar_mj_m2_h_est; // MJ/m^2/h\n    const G = 0.0; // soil heat flux approx\n\n    // slope of saturation vapor pressure curve Δ (kPa/°C)\n    const T = air_temp_c;\n    const es = 0.6108 * Math.exp((17.27 * T) / (T + 237.3));\n    const delta = (4098.0 * es) / Math.pow(T + 237.3, 2);\n\n    // psychrometric constant γ (kPa/°C) ~ 0.0665 at sea level\n    // (for better accuracy need pressure or elevation)\n    const gamma = 0.0665;\n\n    const u2 = Math.max(0, wind_ms); // assume already at ~2m\n    const numerator = (0.408 * delta * (Rn_h - G)) + (gamma * (900.0 / (T + 273.0)) * u2 * vpd_kpa);\n    const denom = delta + gamma * (1.0 + 0.34 * u2);\n\n    const eto_mm_h = denom !== 0 ? (numerator / denom) : NaN;\n    const eto_mm_day = isFinite(eto_mm_h) ? eto_mm_h * 24.0 : NaN;\n\n    return { eto_mm_h_est: eto_mm_h, eto_mm_day_est: eto_mm_day };\n}\n\n// ---------- 6) Build points for influxdb batch ----------\nconst measurement = \"all_sensor_data\"; // ตาม flow ของคุณ :contentReference[oaicite:4]{index=4}\nlet points = [];\n\n// ===== ENV point =====\nif (p.env) {\n    let fields = {\n        ...pick_num_fields(p.env, {\n            wind_speed_avg5m: \"wind_speed_avg5m\",\n            wind_dir_deg: \"wind_dir_deg\",\n            lux: \"lux\",\n            air_temp: \"Air_temp\",\n            air_humi: \"Air_humi\"\n        }),\n        ...pick_num_fields(p.env, {\n            air_temp: \"air_temp\",\n            air_humi: \"air_humi\"\n        })\n    };\n\n    // keep wind_dir_th as FIELD\n    const wind_dir_th = p.env.wind_dir_th;\n    if (typeof wind_dir_th === \"string\" && wind_dir_th.length) {\n        fields.wind_dir_th = wind_dir_th;\n    }\n\n    // ---- Derived metrics (only if required inputs exist) ----\n    const air_temp = fields.air_temp;\n    const air_humi = fields.air_humi;\n    const lux = fields.lux;\n    const wind_ms = fields.wind_speed_avg5m;\n\n    if (typeof air_temp === \"number\" && typeof air_humi === \"number\") {\n        const v = calc_vpd_kpa(air_temp, air_humi);\n        fields.es_kpa = v.es_kpa;\n        fields.ea_kpa = v.ea_kpa;\n        fields.vpd_kpa = v.vpd_kpa;\n\n        // solar estimate from lux (if lux exists)\n        if (typeof lux === \"number\") {\n            const s = calc_solar_from_lux(lux);\n            fields.solar_wm2_est = s.solar_wm2_est;\n            fields.solar_mj_m2_h_est = s.solar_mj_m2_h_est;\n\n            // eto estimate (need wind too; if missing assume 0)\n            const eto = calc_eto_mm_day_est(air_temp, v.vpd_kpa, (typeof wind_ms === \"number\" ? wind_ms : 0), s.solar_mj_m2_h_est);\n            if (isFinite(eto.eto_mm_h_est)) fields.eto_mm_h_est = eto.eto_mm_h_est;\n            if (isFinite(eto.eto_mm_day_est)) fields.eto_mm_day_est = eto.eto_mm_day_est;\n        }\n    }\n\n    const tags = { ...base_tags, sensor: \"env\" };\n\n    if (Object.keys(fields).length) {\n        points.push({ measurement, tags, fields, timestamp: ts_ms });\n    }\n}\n\n// ===== NPK point =====\nif (p.npk) {\n    const fields = {\n        ...pick_num_fields(p.npk, {\n            soil_temp: \"Soil_temp\",\n            soil_humi: \"Soil_humi\",\n            ec: \"ec\",\n            ph: \"ph\"\n        }),\n        ...pick_num_fields(p.npk, {\n            soil_temp: \"soil_temp\",\n            soil_humi: \"soil_humi\"\n        }),\n        ...pick_int_fields(p.npk, { n: \"n\", p: \"p\", k: \"k\" })\n    };\n\n    const tags = { ...base_tags, sensor: \"npk\" };\n\n    if (Object.keys(fields).length) {\n        points.push({ measurement, tags, fields, timestamp: ts_ms });\n    }\n}\n\n// ---------- 7) Output ----------\nif (!points.length) return null;\nmsg.payload = points;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 440,
        "wires": [
            [
                "01fe686622d2d07f",
                "57de323d9c5a5753"
            ]
        ]
    },
    {
        "id": "01fe686622d2d07f",
        "type": "debug",
        "z": "0ab8a71788ddfb90",
        "name": "debug influx",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "57de323d9c5a5753",
        "type": "influxdb batch",
        "z": "0ab8a71788ddfb90",
        "influxdb": "12c399368a125869",
        "precision": "",
        "retentionPolicy": "",
        "name": "Durian",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "sci-iot",
        "bucket": "durian_data",
        "x": 750,
        "y": 520,
        "wires": []
    },
    {
        "id": "3d5031632496a323",
        "type": "function",
        "z": "0ab8a71788ddfb90",
        "name": "Send to Thingsbard",
        "func": "// ===== Parse payload =====\nlet p = msg.payload;\n\nif (typeof p === \"string\") {\n    try {\n        p = JSON.parse(p);\n    } catch (e) {\n        return null;\n    }\n}\n\nif (!p || !p.env) return null;\n\n// ===== Extract raw values =====\nlet air_temp = p.env.air_temp ?? p.env.Air_temp;\nlet air_humi = p.env.air_humi ?? p.env.Air_humi;\nlet lux = p.env.lux;\nlet wind_ms = p.env.wind_speed_avg5m;\n\n// ===== VPD Calculation =====\nlet vpd_kpa = null;\nlet es_kpa = null;\nlet ea_kpa = null;\n\nif (typeof air_temp === \"number\" && typeof air_humi === \"number\") {\n    es_kpa = 0.6108 * Math.exp((17.27 * air_temp) / (air_temp + 237.3));\n    ea_kpa = es_kpa * (air_humi / 100.0);\n    vpd_kpa = es_kpa - ea_kpa;\n}\n\n// ===== Solar estimate from lux =====\nlet solar_wm2_est = null;\nlet solar_mj_m2_h_est = null;\n\nif (typeof lux === \"number\") {\n    const efficacy = 120.0; // lm/W assumption\n    solar_wm2_est = lux / efficacy;\n    solar_mj_m2_h_est = solar_wm2_est * 3600.0 / 1e6;\n}\n\n// ===== ETo estimate =====\nlet eto_mm_day_est = null;\n\nif (\n    typeof air_temp === \"number\" &&\n    typeof vpd_kpa === \"number\" &&\n    typeof solar_mj_m2_h_est === \"number\"\n) {\n    const T = air_temp;\n    const u2 = typeof wind_ms === \"number\" ? wind_ms : 0;\n    const albedo = 0.23;\n    const Rn = (1 - albedo) * solar_mj_m2_h_est;\n\n    const delta =\n        (4098 *\n            (0.6108 * Math.exp((17.27 * T) / (T + 237.3)))) /\n        Math.pow(T + 237.3, 2);\n\n    const gamma = 0.0665;\n\n    const numerator =\n        0.408 * delta * Rn +\n        gamma * (900 / (T + 273)) * u2 * vpd_kpa;\n\n    const denominator =\n        delta + gamma * (1 + 0.34 * u2);\n\n    const eto_mm_h =\n        denominator !== 0 ? numerator / denominator : null;\n\n    if (eto_mm_h !== null && isFinite(eto_mm_h)) {\n        eto_mm_day_est = eto_mm_h * 24;\n    }\n}\n\n// ===== Build telemetry payload =====\nlet telemetry = {\n    air_temp: air_temp,\n    air_humi: air_humi,\n    wind_speed_avg5m: wind_ms,\n    wind_dir_deg: p.env.wind_dir_deg,\n    lux: lux,\n    soil_temp: p.npk?.soil_temp ?? p.npk?.Soil_temp,\n    soil_humi: p.npk?.soil_humi ?? p.npk?.Soil_humi,\n    ec: p.npk?.ec,\n    ph: p.npk?.ph,\n    n: p.npk?.n,\n    p: p.npk?.p,\n    k: p.npk?.k,\n    vpd_kpa: vpd_kpa,\n    solar_wm2_est: solar_wm2_est,\n    solar_mj_m2_h_est: solar_mj_m2_h_est,\n    eto_mm_day_est: eto_mm_day_est\n};\n\n// ===== Send to ThingsBoard =====\nmsg.payload = telemetry;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 600,
        "wires": [
            [
                "b1791075e5228fe5",
                "8dee675303d5cbc6"
            ]
        ]
    },
    {
        "id": "b1791075e5228fe5",
        "type": "mqtt out",
        "z": "0ab8a71788ddfb90",
        "name": "",
        "topic": "v1/devices/me/telemetry",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "88f8ee110f949ff3",
        "x": 750,
        "y": 680,
        "wires": []
    },
    {
        "id": "8dee675303d5cbc6",
        "type": "debug",
        "z": "0ab8a71788ddfb90",
        "name": "debug thingboard",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 600,
        "wires": []
    },
    {
        "id": "b1b1bbbbbbb11111",
        "type": "mqtt-broker",
        "name": "Local MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "12c399368a125869",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "home",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "88f8ee110f949ff3",
        "type": "mqtt-broker",
        "name": "thingsboard",
        "broker": "localhost",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a3e4e61daa3e9cd1",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]